.background-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
}

.login-container {
    background-color: white;
    height: fit-content;
    width: 400px;
    border-radius: 15px;
    color: black;
    display: flex;
}

.login-content {
    width: 100%;
    padding: 20px 20px;
}

.close-btn-container {
    display: flex;
    justify-content: end;
    padding: 0 20px;
}

.close {
    width: fit-content;
    height: fit-content;
    line-height: 1;
    font-size: 2.4em;
    cursor: pointer;
}

.title {
    margin: 0 0 25px 0;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 80%;

    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}

input {
    height: 1.8em;
    border-radius: 6px;
    border: 1px solid grey;
    padding: 2px 8px;
}

.forgot-pwd-link {
    font-size: 0.9em;
    margin-top: 10px;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}


.login-btn-popup {
    width: 80%;
    margin-top: 20px;
}


